* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
}
.container {
  height: 100%;

  display: grid;
  grid-template: 1fr 4fr/1fr 5fr;
}
.container > * {
  border: 2px solid blue;
}
.header {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: 5fr 2fr;
}
.header > * {
  border: 2px solid black;
}

input {
  width: 75%;
  border-style: none;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 3px;
  height: 1.5rem;
}
.right-search {
  display: flex;

  justify-content: space-around;
}
.nav {
  background-color: brown;
  grid-area: 1/1/3/2;
}
.main {
  background-color: blueviolet;
}
